Django==1.5.1
Pillow
South==0.7.6
XlsxWriter==0.4.2
pep8==1.4.6
phonenumbers==5.7b2
psycopg2-binary
pyPdf==1.13
pyserial==2.6
reportlab
xhtml2pdf==0.2
django-model-report
django-tastypie==0.11.1
django-phonenumber-field==0.2.1